
#navListWrapper {
	position: relative;
	z-index: 1;
}


#navList {
	position: relative;
	background: #fff;
	margin: 0; 
}

#navList:before {
	content: "";
	position: absolute;
	z-index: -2; 
}

#navList:before {
	top: 10px;
	bottom: 10px;
	right: 0;
	left: 50%;
	-webkit-box-shadow: 0 0 15px rgba(0,0,0,0.6);
	-moz-box-shadow: 0 0 15px rgba(0,0,0,0.6);
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
	-moz-border-radius: 10px / 100px;
	border-radius: 10px / 100px; 
}

#navList ul {
	list-style-type: none;
}


#navList h3 {
	font-weight: 600; 
	font-size: 16px;
	margin-bottom: .6em;
}



div.contact_buttons { margin-bottom: 1em; text-align: center; }

div.leadButton { display: inline-block; padding: 12px 0; width: 254px; margin: 0 0 0 15px; text-align: center; overflow: hidden; }
div.leadButton.first { margin-left: 0; }
div.leadButton { font-size: 18px; }
div.leadButton a:hover { opacity:0.7; filter:alpha(opacity=70); }



div.offices_title h2 { font-size: 23px; text-align: center; margin-bottom: 1.2em; margin-top: .5em; }


div.office_list { display: none; } 

div.officeDiv { margin-bottom: 1em; padding-top: 1em; position: relative; }
div.officeDiv h3 { font-size: 15px; font-weight: 600; margin: 0 0 1em 0; padding: 0; }
#contents div.officeDiv p { margin: 0 0 .7em 0; }
div.officeDiv .addressBlock { float: left; width: 270px; }
div.officeDiv .hoursBlock { float: left; width: 270px; margin-left: 15px; }



.otherContact { margin-top: 60px; border-top: 1px solid #cecece; padding-top: 30px; }
.otherContact h2 { margin-bottom: 1em; }
.otherContact h3 { font-weight: 600; font-size: 1.1em; margin: .7em 0 0 0;}