h2 { text-align: center; line-height: 1.4em; }

.franchiseDisclaimer { font-size: 11px; font-style: italic; border-top: 1px solid #cecece; margin-top: 4em; padding-top: 1em; line-height: 1.2em; color: #888; }