.grid-1-12, .grid-2-12, .grid-3-12, .grid-4-12, .grid-5-12, .grid-6-12, .grid-7-12, .grid-8-12, .grid-9-12, .grid-10-12, .grid-11-12, .grid-12-12 { padding-bottom: 0; }

.property_information { padding-bottom: 1em; }
.landlord_information { padding: 1em 0 100px; }

.signupButton {
	padding-top: 20px;
	text-align: center;
}
