.reasonDiv {
	width: 375px;
	height: 175px;
	float: left;
	margin-bottom: 20px;
	overflow: hidden;
}
.reasonDiv.first {
	clear: both;
	margin-right: 20px;
}
.reasonDiv.last {
	margin-right: 0;
}

.reasonDiv h3 { 
	font-size: 18px;
	font-weight: 600;
	margin: .5em 0 .5em 0;
}
